
/*selector de clase
    -se determina con punto (.)
    -todas las etiquetas con esa
    clase tendran el mismo estilo

*/

/*Modelo de caja
Contenido de texto, imagenes,videos, svg
en una caja tiene que haber contenido
o debe tener ancho y alto
*/  




 
/* Estilos de identificador
se denota con un #(numeral)
solo aplica a un elemento 
( un id = solo 1 elemento en el documento )
*/

#caja3{
    margin: 20px auto;
padding: 20px 20px;
background-color: #323838;
height: 800px;
width: 800px;
border-style: solid;
border-color: #000000;
border-width: 13px;
border-radius: 2%;

}

#caja3>img{
    padding: 15%;
    height: 540x;
    width: 540px;
    border-radius: 200px;
    margin-top: 10px;
}


.card .contenedor{
    display: block;
    margin: o auto 10px auto;
    width: 300px;
}

.contenedor > h1{
    display: block;
    font-size: 46px;
    text-align: center;
}

.contenedor > p{
        display: block;
    font-size: 26px;
    text-align: center;
}

p + a{
    display: block;
    background-color: blue;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}